services:
  webrtc-app:
    build: .
    network_mode: "host"
    # ports:
      # - "443:8000"   # HTTPS port (not 8080)
    volumes:
      - ./certs:/app/certs:ro          # Mount certs
      - ./index.html:/app/index.html
      - ./client.js:/app/client.js
      - ./demo-instruct.wav:/app/demo-instruct.wav
    restart: unless-stopped
  coturn:
    image: coturn/coturn:latest
    container_name: coturn-tcp-only
    network_mode: host
    cap_add:
      - NET_ADMIN
    volumes:
      - ./turnserver.conf:/etc/turnserver.conf
      - ./logs:/var/log
    command: ["turnserver", "-c", "/etc/turnserver.conf"]
    restart: unless-stopped
